# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Start Config backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8080
# production: URL_ADDRESS=0.0.0.0

ALLOWED_ORIGINS=https://localhost:3000,http://localhost:3000

# Start Config database 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_DB=rte_database

# Nest run locally
DB_HOST=localhost
# Nest run in docker, change host to database container name
# DB_HOST=postgres
DB_PORT=5432
DB_SCHEMA=public

# Prisma database connection
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=${DB_SCHEMA}&sslmode=prefer

# Start config Security
JWT_ACCESS_SECRET=fkM95OA4C8lNZ09pQjuzMsgjUoT39XV0lnA0oFIBcAeu84HVGHrMRfv09pF3i9R
JWT_REFRESH_SECRET=cgOKlL356WhCYI9Gm1Kn3wnRmXpaXK6PLRXModkNzuSsVWISOPbcyZueyLtvf2b

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
JWT_EMAIL_SECRET=

# Start config Mail Service
MAIL_HOST=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

MAIL_CONFIRM_URL=4JFlQxq72vp3V2phCsmeWw2Wp06ACmkSRhXwlwNsqCvCg2WILq3pWmrem3nHb3o